*,
html {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}

html,
body,
.main-container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header,
footer {
    text-align: center;
}

.table-section {
    position: relative;
    height: max-content;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    flex-grow: 1;
    /* overflow-y: scroll; */
}