/* Top buttons */
header nav input{
    justify-content: end;
}
/* Nav bar */
header nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/* Nav bar buttons container */
header nav span{
    display: flex;
    justify-content: end;
}